rect {width: 100%; height: 100%; stroke-width: 2px}
.ext {fill: #625C69; stroke: #484152}
.system {fill: #1061B0; stroke: #0D5091}
.container {fill: #23a2d9; stroke: #0E7DAD}
.component {fill: #63bef2; stroke: #2086c9}
